<div class="center-content">
    <h1 class="title">
        Wellcome, to Pizza Palace
    </h1>
    <p class="subtitle">The best pizzas in town</p>
    <p>
        <a href="signup" class="button is-primary">Sign up</a>
        <a href="login" class="button is-link">Log in</a>
    </p>
</div>