<form id="orderCreateForm" class="form-container" method="POST" action="api/orders">
    <h1 class="title text-center">Insert Payment details</h1>

    <div class="formError"></div>
    <div class="field">
        <label class="label">Card Number</label>
        <div class="control">
            <input name="cardNumber" class="input" type="text" minlength="16" maxlength="16"
                placeholder="E.g 1234567891231234">
        </div>
    </div>
    <div class="field">
        <label class="label">Card Expiry Date</label>
        <div class="control">
            <input name="cardExpiryDate" class="input" type="date">
        </div>
    </div>
    <div class="field">
        <label class="label">Card Holder</label>
        <div class="control">
            <input name="cardHolder" class="input" type="text" placeholder="E.g John Doe">
        </div>
    </div>
    <div class="field">
        <label class="label">Card CVV Code</label>
        <div class="control">
            <input name="cardCVVCode" class="input" maxlength="3" minlength="3" type="text">
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Submit</button>
        </div>
        <div class="control">
            <a href="shopping-cart" class="button is-text">Cancel</a>
        </div>
    </div>
</form>

<p id="orderCreateLoading" class="hidden">Processing payment. Please wait. This could take few moments</p>