<p id="shoppingCartEmptyMessage">Your shopping cart is empty. Got to the <a href="/menu">Menu</a> to add items</p>

<div id="shoppingCartTableContainer" class="hidden">
    <table id="shoppingCartPreviewTable" class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Amount</th>
                <th>Price</th>
                <th>Total Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <a class="button is-primary" href="order">Order</a>
</div>